@{
    ViewBag.Title = "Dane kontaktowe";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Wojskowe Zakłady Łączności Nr 2 S.A<br />
    ul. Fabryczna 12<br />
    55-003 Czernica<br />
    <abbr title="Phone">Tel:</abbr>
    +48 71 318 01 86
</address>

<address>
    <strong>Szef serwisu:</strong>   <a href="mailto:p.ziobrowski@wzl2.pl">p.ziobrowski@wzl2.pl</a><br />
    <strong>Administrator:</strong> <a href="mailto:millsoft@millsoft.pl">millsoft@millsoft.pl</a>
</address>