@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serwis Harris WZŁ 2</h1>
    <p class="lead">Za pomącą tej strony możesz zapoznać z ofertą serwisową WZŁ 2, a także zgłosić sprzęt do naprawy</p>
    <p><a href="#" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Poznaj naszą ofertę</h2>
        <p>
            Jeżeli chcesz zapoznać z ofertą serwisową oraz warunkami musisz się zarejestrować (utworzyć konto), następnie
            na swój adres email otrzymasz wiadomość zwrotną (moze to potrwać kilka minut), którą należy potwierdzić. Po zalogowaniu się
            na swoje konto będziesz mógł zapoznać się z informacjami.
        </p>
        <p><a class="btn btn-default" href="#">Dowiedz się więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zgłoś sprzęt do naprawy</h2>
        <p>
            Jeżeli chcesz zgłosić sprzęt do naprawy, oraz mieć możliwość śledzenia postępów naprawy musisz mieć założone konto
            i aktywowane przez przez administratora serwisu (poniżej link do danych kontaktowych, musisz byc zalogowany).
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Dane kontaktowe &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NAPRAWA</h2>
        <p>@Html.ActionLink("Stan Naprawy", "Index", "StanNaprawies")</p>

        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@

    </div>
</div>