@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Kont zablokowane</h1>
    <h2 class="text-danger">To konto jest zablokowane. Spróuj później lub skontaktuj się z administratorem serwisu.</h2>
</hgroup>
