@{
    ViewBag.Title = "Odzyskianie hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        W celu zresetowania hasła proszę sprawdzić swojego maila.
    </p>
</div>
	
